<ion-card>
  
  <img alt="Silhouette of mountains" src="https://docs-demo.ionic.io/assets/madison.jpg" />
  <ion-card-header>
    <ion-item>
      <ion-button  shape="round" slot="start">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-button>
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-button  shape="round" slot="end" color="warning">
      <ion-icon name="bookmark-outline"></ion-icon>
    </ion-button>
    </ion-item>
    <ion-card-title>Alex Bolaños</ion-card-title>
    <ion-card-subtitle>Hace un momento</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
   The best trip ever
  </ion-card-content>
</ion-card>
